.invisible {
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
  }

tabs.gb {
    /* margin-bottom: -18%; */
    min-height: 2% !important;
}


path.highcharts-tracker-line.wdr-ui-element {
  stroke: rgba(255, 158, 44, 1) !important;
  stroke-width: 2px !important;
}

mat-form-field.filterdropdown {
  position: absolute;
  z-index: 10;
  text-align: right;
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  top: 1%;
  right: 3%;
}



::ng-deep .mat-form-field-flex{
  padding: .10em .75em 0 .75em !important;;
}
//  mat-form-field #filterdropdown .mat-form-field-appearance-fill .mat-form-field-flex  {
//   background-color: #000000 !important;
// }

// ::ng-deep #filterdropdown .mat-select-value {
//   color: #ffffff !important;
// }

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: rgb(255, 255, 255);
  background-color: #2b1316;
}
::ng-deep .mat-tab-label, .mat-tab-link {
   color: #000000; 
  
}
::ng-deep .mat-ink-bar {
  //color: #ffffff !important;
  background-color:#ff0000 !important;
}

::ng-deep .mat-tab-label {
  height: 48px;
  padding: 0 24px;
  background-color: lightgrey;
  cursor: pointer;
  box-sizing: border-box;
  opacity: 1;
  min-width: 160px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
}
