mat-form-field#machineDropdown {
    position: absolute;
    width: 26%;
    z-index: 1000;
    top: 0;
    left: 0;
}

::ng-deep #machineDropdown.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #ea9c9c !important; 
}

