<div fxLayout="column" class="form" style="width: 100%;">

    <div fxLayout="row" style="width: 100%;padding: 0%;" fxLayoutAlign="center center" fxFlex="100">
        <form [formGroup]="masterform" fxFlex="75">
            <div fxLayout="column" style="width:100%;">
                <div fxLayout="row" style="width: 100%;padding: 0%;" fxLayoutAlign="center center" fxFlex="70">
                    <mat-form-field appearance="fill" fxFlex="60" style="margin-right: 3%;">
                        <mat-label>Choose the Machine</mat-label>
                        <mat-select formControlName="machine" placeholder="Machine Name"
                            (selectionChange)="GetMachineName(machine.value)">
                            <mat-select-filter [array]="MachineList" [displayMember]="'machineDetails'"
                                (filteredReturn)="filteredMachine=$event"></mat-select-filter>
                            <mat-option *ngFor="let m of filteredMachine" [value]="m.machineId">
                                {{m.machineDetails}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
</div>
