<div fxLayout="column" class="form" style="width: 100%;">
    <h3 style="color: blue;text-align: center;">Add Fault Details</h3>
    <form [formGroup]="faultform">
        <div fxLayout="column" style="width:100%;">

            <div fxLayout="row" style="width: 100%;padding: 1%;" fxLayoutAlign="space-around start">
                <mat-form-field fxFlex="90" fxHide>
                    <input matInput autocomplete="off" appSpecialCharacter placeholder="ID"
                        formControlName="ID" >
                </mat-form-field>
                <mat-form-field fxFlex="90">
                    <input matInput autocomplete="off" appSpecialCharacter placeholder="Selected Machine"
                        formControlName="Machine_Selected" readonly>
                </mat-form-field>
            </div>
            <div fxLayout="row" style="width: 100%;padding: 1%;" fxLayoutAlign="space-around start" fxFlex="90">
                <mat-form-field fxFlex="90">
                    <input matInput autocomplete="off" appSpecialCharacter placeholder="Fault Code"
                        formControlName="FaultCode">
                </mat-form-field>
            </div>
            <div fxLayout="row" style="width: 100%;padding: 1%;" fxLayoutAlign="space-around start" fxFlex="90">
                <mat-form-field class="form-field" fxFlex="90">
                    <input matInput autocomplete="off" placeholder="Fault Description" formControlName="FaultDescription">
                </mat-form-field>
            </div>
        </div>
    </form>
</div>

<div fxLayout="row" style="width: 100%;padding: 1%;" fxLayoutAlign="space-around start">
    <button mat-raised-button color="primary" [disabled]="faultform.invalid" [mat-dialog-close]="faultform.value">{{button}}
    </button>
    <button mat-raised-button color="warn" (click)="close()">Cancel</button>
</div>

<pre>{{faultform.value|json}}</pre>