<div fxLayout="column" class="form" style="width: 100%;">
    <h3 style="color: blue;text-align: center;">Add Machine Details</h3>
    <form [formGroup]="machineform">
        <div fxLayout="column" style="width:100%;">


            <div fxLayout="row" style="width: 100%;padding: 0%;" fxLayoutAlign="space-around start">
                <mat-form-field fxFlex="5" fxHide>
                    <input matInput autocomplete="off" appSpecialCharacter placeholder="ID" formControlName="ID">
                </mat-form-field>
                <mat-form-field fxFlex="24">
                    <input matInput autocomplete="off" appSpecialCharacter placeholder="Machine MDS"
                        formControlName="Machine_MDS">
                </mat-form-field>
                <mat-form-field fxFlex="24">
                    <input matInput autocomplete="off" appSpecialCharacter placeholder="Machine Name"
                        formControlName="Machine_Name">
                </mat-form-field>
                <mat-form-field fxFlex="24">
                    <input matInput autocomplete="off" placeholder="Customer Name" formControlName="Customer_Name">
                </mat-form-field>
            </div>
            <div fxLayout="row" style="width: 100%;padding: 0%;" fxLayoutAlign="space-around start">
                <mat-form-field fxFlex="24">
                    <input matInput autocomplete="off" placeholder="Installation Site"
                        formControlName="Installation_Site">
                </mat-form-field>
                <mat-form-field fxFlex="24">
                    <input matInput autocomplete="off" appSpecialCharacter placeholder="IP Address"
                        formControlName="IP_Address">
                </mat-form-field>
                <mat-form-field fxFlex="24">
                    <input matInput autocomplete="off" appSpecialCharacter placeholder="CycleMeaning"
                        formControlName="CycleMeaning">
                </mat-form-field>

            </div>
            <div fxLayout="row" style="width: 100%;padding: 0%;" fxLayoutAlign="space-around start">

                <mat-form-field fxFlex="24">
                    <input matInput autocomplete="off" appSpecialCharacter placeholder="Speed IntermsOf"
                        formControlName="SpeedIntermsOf">
                </mat-form-field>
                <mat-form-field fxFlex="24">
                    <input matInput autocomplete="off" placeholder="OutfeedCount InTermsOf"
                        formControlName="OutfeedCountInTermsOf">
                </mat-form-field>
                <mat-form-field appearance="" fxFlex="24">
                    <mat-label>Choose the Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="EndDate" placeholder="End Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
               
            </div>
        </div>
    </form>
</div>

<div fxLayout="row" style="width: 100%;padding: 1%;" fxLayoutAlign="space-around start">
    <button mat-raised-button color="primary" [disabled]="machineform.invalid"
        [mat-dialog-close]="machineform.value">{{button}}
    </button>
    <button mat-raised-button color="warn" (click)="close()">Cancel</button>
</div>

 <pre>{{machineform.value|json}}</pre> 

