.invisible {
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}

tabs.gb {
  /* margin-bottom: -18%; */
  min-height: 2% !important;
}


path.highcharts-tracker-line.wdr-ui-element {
stroke: rgba(255, 158, 44, 1) !important;
stroke-width: 2px !important;
}

mat-form-field#filterdropdown {
position: absolute;
z-index: 10;
text-align: right;
display: inline-block;
text-align: left;
margin-left: auto;
margin-right: auto;
top: 19%;
right: 10%;
}



::ng-deep .mat-form-field-flex{
padding: .10em .75em 0 .75em !important;;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
background-color: #fbfbfb !important;
}




