.invisible {
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}



path.highcharts-tracker-line.wdr-ui-element {
stroke: rgba(255, 158, 44, 1) !important;
stroke-width: 2px !important;
}





::ng-deep .mat-form-field-flex{
padding: .10em .75em 0 .75em !important;;
}

mat-form-field#filterdropdown {
  position: absolute;
  z-index: 10;
  text-align: right;
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  top: 30.5em;
  right: 42%;
}

mat-form-field#filterdropdown1 {
  position: absolute;
  z-index: 10;
  text-align: right;
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  top: 55.5em;
  right: 42%;
}


::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: rgb(255, 255, 255);
  background-color: #2b1316;
}
::ng-deep .mat-tab-label, .mat-tab-link {
   color: #000000; 
  
}
::ng-deep .mat-ink-bar {
  //color: #ffffff !important;
  background-color:#ff0000 !important;
}

::ng-deep .mat-tab-label {
  height: 48px;
  padding: 0 24px;
  background-color: lightgrey;
  cursor: pointer;
  box-sizing: border-box;
  opacity: 1;
  min-width: 160px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
}
