<div *ngIf="isVerified && data && !success" fxLayout="row" class="mat-app-background" fxLayoutAlign="center center"
  style="height: 100%; width: 100%;">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="saveNewPassword(newPassword1.value)" fxFlex="80" fxFlex.gt-sm="30"
    fxFlex.sm="60">
    <mat-card class="p-0 mat-elevation-z10 box">
      <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
        <button mat-fab color="accent" class="mat-elevation-z12">
          <mat-icon>vpn_key</mat-icon>
        </button>
      </div>
      <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
        <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
          <h4><span class="box-content-header">Reset Password</span></h4>
          <mat-form-field class="w-100">
            <input #newPassword1 matInput placeholder="Enter a New Password" type="password"
              formControlName="newPassword1">
            <mat-error *ngIf="resetPasswordForm.controls.newPassword1.hasError('minlength')">Password should be atleast
              9 characters long.</mat-error>
              <mat-error *ngIf="resetPasswordForm.controls.newPassword1.hasError('pattern')">Password must contain a special character,a numeric & upper-case alphabet. </mat-error>
          </mat-form-field>
          <mat-form-field class="w-100">
            <input #newPassword2 matInput placeholder="Re-Enter the New Password " type="password"
              formControlName="newPassword2">
            <mat-error *ngIf="resetPasswordForm.controls.newPassword2.hasError('minlength')">Password should be atleast
              9 characters long.</mat-error>
              <mat-error *ngIf="resetPasswordForm.controls.newPassword2.hasError('pattern')">Password must contain a special character,a numeric & upper-case alphabet. </mat-error>
          </mat-form-field>
        </mat-card>
        <button mat-button color="primary" class="box-button" type="submit"
          [disabled]="(resetPasswordForm.valid && (newPassword1.value === newPassword2.value)) ? false : true">DONE</button>
      </mat-card-content>
    </mat-card>
  </form>
</div>
<div *ngIf="!isVerified && data && !success" fxLayout="row" fxLayoutAlign="center center" class="h-100">
  <div fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">
    <mat-card class="p-0 mat-elevation-z24 box">
      <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
        <button mat-fab color="accent" class="mat-elevation-z12">
          <mat-icon>error</mat-icon>
        </button>
        <h1 class="error">Verification</h1>
      </div>
      <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
        <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
          <h1>{{token}}</h1>
          <span class="box-content-header server-error">Wrong or Expired Verfication Code</span>
          <p class="box-text">{{message}}</p>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner" style="height: 100%; width: 100%;">
  <mat-card  style="height: fit-content;">
    <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
      <div *ngIf="success" fxLayout="row" class="mat-app-background" fxLayoutAlign="center center"
        style="height: 100%; width: 100%;">
        <div fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60" style="height: 100%; width: 100%;">
          {{successMsg}} </div>
        <a routerLink='/'>
          <button mat-fab color="accent" class="mat-elevation-z12">
            <mat-icon>home</mat-icon>
          </button>
          <div> Go to home</div>
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div>



<div *ngIf="!data" fxLayout="column" fxLayoutAlign="center center" class="role-spinner">
  <mat-spinner color="primary"></mat-spinner>
</div>