.invisible {
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
  }
  .example-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }
  
  .example-month-picker .mat-calendar-arrow {
    display: none;
  }
.btn {
    border: 2px solid blue;
    background: #fff;
    width: 150px;
    color: blue;
    text-transform: uppercase;
    cursor: pointer;
    margin: 5px 0;
    display: inline-block;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-weight: normal;
    padding: 6px 6px;
    font-size: 13px;
}

.btn:hover {
    background: blue;
    color: #fff;
}

.btn:focus {
    outline: none;
}
