.mat-drawer-container {
    background-color: #ffffff !important;
}
.example-sidenav {
     user-select: none;
     width: 240px;
  }
  .full-width {
    width: 100%;
  }
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }
  .submenu.expanded {
    transform: scaleY(1);
  }

  .active-list-item {
    background-color: #3F51B5 !important; /* Note: You could also use a custom theme */
    color: #ffffff !important;
  }